{% extends "base.html" %}


{% block contenido %}
<h3 class="tiles-h1">
    Tiles</h3>
<br>
<br>

<table class="table">
    <tr>
        <td> <img src="{{avatar.imagen.url}}" style="max-width:25px"/> </td>
        <td style="font-size: large;"> {{ articulo.autor }} <a style="font-size: small;"> ({{ articulo.fecha }}) </td>
    </tr>
    <tr>
        <td></td>
        <td style="font-size: x-large;"> {{ articulo.titulo }} </td> 
    </tr>
    <tr> 
        <td></td>
        <td style="font-size: medium;"> {{ articulo.subtitulo }} </td> 
    </tr>
    <tr>
        <td></td>
        <td style="font-size: large;"> {{ articulo.cuerpo }} </td>
    </tr>
    <tr>
        <td></td>
        <td> 
            <img src="{{articulo.imagen.url}}" style="max-width:450px"/> 
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            {% if user == articulo.autor %}                           
                {% csrf_token %}
                <a href="{% url 'borrar_tile' articulo.id %}"><i class="bi bi-trash bi-buttons"></i></a>
                <a href="{% url 'editar_tile' articulo.id %}"><i class="bi bi-pencil-square bi-buttons"></i></a>
            {% endif %}
        </td>
    </tr>
</table>

{% endblock contenido %}