{% extends "base.html" %}


{% block contenido %}
<h3>Tiles</h3>
<br>
<br>

<table class="table">
    {% for articulo in articulos %}
    <tr>
        <td> <img src="{{user.avatar.imagen.url}}" styles="max_width:400px;margin-right:10px;"> </td>
        <td style="font-size: large;"> {{ articulo.autor }} {{ articulo.fecha }} </td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td style="font-size: medium;"> {{ articulo.titulo }} </td>
        <td></td>
    </tr>
    <tr> 
        <td></td>
        <td style="font-size: small;"> {{ articulo.subtitulo }} </td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>{{ articulo.cuerpo }} ... <a href="{% url 'mostrar_tile' articulo.id %}">ver mas</a></td>
        <td>        
            {% if user == articulo.creador %}     
            <form action="{% url 'borrar_tile' articulo.id %}" method="post">
                {% csrf_token %}
                <button type="submit">
                <i class="bi-trash"></i>
                </button>
            </form>
            {% endif %}
        </td>
    </tr>
    <tr>
        <td></td>
        <td> 
            {{ img.articulo.imagen}}
        </td>
        <td></td>
        <td></td>
    </tr>
    {% endfor %}
</table>

{% endblock contenido %}
