{% extends "base.html" %}

{% block boton_nav_variable %}
<a class="navbar-brand" href="{% url 'inicio' %}">Inicio</a>
{% endblock boton_nav_variable %}

{% block Titulo_nav_bar %}
<div class="container">
    <h1 class="f12" style="font-size: 70px;">
        Tiles
    </h1>
</div>
{% endblock Titulo_nav_bar %}

{% block contenido %}

{% if articulos %}
<table class="table">
    {% for articulo in articulos %}
    <tr>
        <td>
            <table class="inner-table">
                <tr>
                    <td> <img src="{{articulo.avatar.imagen.url}}" style="max-width:25px"/> </td>
                    <td style="font-size: large;"> {{ articulo.autor }} <a style="font-size: x-small;"> ({{ articulo.fecha }}) </td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td style="font-size: medium;"> {{ articulo.titulo }} </td>
                    <td></td>
                </tr>
                <tr> 
                    <td></td>
                    <td style="font-size: small;"> {{ articulo.subtitulo }} </td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>{{ articulo.cuerpo }} ... <a href="{% url 'mostrar_tile' articulo.id %}">Ver mas</a></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td> 
                        <img src="{{articulo.imagen.url}}" style="max-width:450px"/> 
                    </td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>No hay entradas aún.</p>
{% endif %}

{% endblock contenido %}
